<Section class="section-wrapper-{{ section.id }}">
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'button' %}
      <div class="button" >
        <a href=" " type="button">{{ block.settings.button-text }} </a>
      </div>

    {% endcase %}
  {% endfor %}
</Section>

<style>
  {% for block in section.blocks %}
    {% case block.type %}
    {% when 'button' %}
      .section-wrapper-{{ section.id }} .button{
        border-radius: 100px;
        background: #333333;
        --border-offset: none;     
      }
    .section-wrapper-{{ section.id }} .text-section .button a{
      color: #FFFFFF;
      text-decoration: none;
    }

  {% endcase %}
{% endfor %}
</style>

{% schema %}
  {
    "name": "button",
    "blocks": [
      {
        "name": "button",
        "type": "button",
        "settings": [
          {
            "type": "text",
            "id": "button-text",
            "label": "Buton Label",
            "default": "LIsten Now"
          },
          {
          "type": "url",
          "id": "button-url",
          "label": "Button Link"
          }
        ]
      }
    ],
    "presets": [
    {
      "category": "content",
      "name": "button",
      "blocks": [
        {
          "type": "button"
        }
      ]
    }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}